<div class="container">
  <div class="all-chat">
    <div class="welcome-message" *ngIf="messages.length === 0">
      <p>Prepárate para ganar esa entrevista</p>
    </div>
    <div class="suggested-questions" *ngIf="messages.length === 0">
      <div *ngFor="let question of randomQuestions" (click)="insertSuggestedQuestion(question)" class="suggested-question-card">
        {{ question }}
      </div>
    </div>
    <div *ngFor="let msg of messages" class="chat" [class.request]="msg.type === 'request'" [class.response]="msg.type === 'response'" [class.error]="msg.type === 'error'">
      {{ msg.text }}
    </div>
    <div *ngIf="isLoading" class="loader"></div>
  </div>
  <div class="chat-footer">
    <div class="request-form">
      <input type="text" class="new-input" autocomplete="off" id="req-input" placeholder="Ingresa tu pregunta..." [(ngModel)]="message" />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
  <div *ngIf="showPopup" class="overlay"></div>
  <div *ngIf="showPopup" class="popup">
    <p>Guru únicamente atiende consultas relacionadas a entrevistas de trabajo</p>
    <button (click)="dismissPopup()" class="btn btn-primary btn-close">Cerrar</button>
  </div>
</div>
