<nav class="section__container nav__container">
  <div class="nav__logo">GURU</div>
  <ul class="nav__links">
    <li class="link"><a routerLink="/">Inicio</a></li>
    <li class="link"><a routerLink="/prompt">Prompt</a></li>
  </ul>
  <span></span>
</nav>
<router-outlet></router-outlet>
<footer class="section__container footer__container">
  <div class="footer__grid">
    <div class="footer__col">
      <h4>GURU</h4>
      <p>contacto@guru.com</p>
      <p>+506 2244 3344</p>
    </div>
    <div class="footer__col">
      <h4>Acerca de</h4>
      <p>Inicio</p>
      <p>Precios</p>
      <p>Empresa</p>
      <p>Recursos</p>
    </div>
    <div class="footer__col">
      <h4>Características</h4>
      <p>Blog</p>
      <p>Política de privacidad</p>
      <p>Términos y Condiciones</p>
    </div>
    <div class="footer__col">
      <h4>Contacto</h4>
      <p>Departamento</p>
      <p>Medios</p>
      <p>Soporte</p>
    </div>
</div>

</footer>
<div class="section__container footer__bar">
  <p>Copyright © 2023 Guru. All rights reserved.</p>
</div>
