<header class="section__container header__container">
  <h1 class="section__header">
      Gana esa entrevista,<br />
      en tiempo <span>récord.</span>
  </h1>
  <p>
    ¿Estás en la búsqueda de tu próximo trabajo ideal?
    ¡Guru te ayuda a prepararte!
    Ofrecemos el camino más rápido y eficiente para que
    te prepares y conquistes ese puesto que tanto anhelas.
  </p>
</header>

<section class="section__container service__container">
  <p class="section__subheader">Somos Especialistas</p>
  <h2 class="section__header">Te ayudamos a tener éxito en tu entrevista</h2>
  <div class="service__grid">
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-1.png" alt="servicio" />
      </div>
      <h4>Entrevista Perfecta</h4>
      <p>
        Preparamos a medida tus habilidades para destacar en entrevistas,
        con especialización en preparación, desarrollo personal y éxito profesional.
      </p>
    </div>
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-2.png" alt="servicio" />
      </div>
      <h4>Practica</h4>
      <p>
        Simplificamos la preparación con una plataforma amigable para
        crear, editar y organizar tu contenido para entrevistas de manera sencilla.
      </p>
    </div>
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-3.png" alt="servicio" />
      </div>
      <h4>Mejor Resultado</h4>
      <p>
        Impulsa tu carrera, logra el puesto que siempre has querido.
      </p>
    </div>
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-4.png" alt="servicio" />
      </div>
      <h4>Desarrollo Profesional</h4>
      <p>
        Desarrolla tus habilidades y avanza en tu carrera profesional.
      </p>
    </div>
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-5.png" alt="servicio" />
      </div>
      <h4>Soluciones para tu Éxito</h4>
      <p>
        Ofrecemos soluciones escalables que potencian tus habilidades para la entrevista y promueven tu crecimiento profesional.
      </p>
    </div>
    <div class="service__card">
      <div class="service__icon">
        <img src="../assets/img/service-6.png" alt="servicio" />
      </div>
      <h4>Confianza</h4>
      <p>
        Tendrás toda la confianza para cualquier escenario con la preparación en Guru.
      </p>
    </div>
  </div>
</section>


<section class="section__container template__container">
  <div class="template__content">
    <p class="section__subheader">Nuestras Plantillas</p>
    <h2 class="section__header">Potentes plantillas para tu aplicación</h2>
    <p class="description">
      Nuestra aplicación ofrece una variedad de plantillas diseñadas para mejorar tu preparación para entrevistas. Con ellas, podrás practicar escenarios, desarrollar habilidades específicas y prepararte para cualquier tipo de entrevista laboral.
    </p>
    <button class="btn">Descubre más</button>
  </div>
  <div class="template__image">
    <img src="../assets/img/entrevista_lab.jpg" alt="plantilla" />
  </div>
</section>

<section class="section__container client__container">
  <p class="section__subheader">Testimonios</p>
  <h2 class="section__header">Casos de éxito</h2>
  <div class="client__grid">
    <div class="client__card">
      <img src="../assets/img/pic-1.jpg" alt="client" />
      <h4>Logré el puesto</h4>
      <p>
        Entendieron a la perfección nuestras necesidades y
        nos ayudaron a estar completamente preparados para la entrevista.
      </p>
    </div>
    <div class="client__card">
      <img src="../assets/img/pic-2.jpeg" alt="client" />
      <h4>Excellente experiencia</h4>
      <p>
        Eficientes, confiables y orientados a resultados. Una preparación
        visualmente atractiva que mejora tu visibilidad en entrevistas.
        ¡Muy recomendados para destacar en el ámbito laboral!
      </p>
    </div>
    <div class="client__card">
      <img src="../assets/img/pic-3.jpg" alt="client" />
      <h4>Eficiente</h4>
      <p>
        La mejor decisión que tomé  . Preparación excepcional para entrevistas,
        un soporte excepcional. Siempre disponibles y resolución rápida de problemas.
        ¡Una experiencia sin complicaciones para destacar en tu próximo desafío laboral!
      </p>
    </div>
  </div>
</section>

<section class="section__container question__container">
  <p class="section__subheader">¿Tienes preguntas?</p>
  <h2 class="section__header">Preguntas frecuentes</h2>
  <div class="question__accordian">
    <div class="question__box" appToggleClass>
      <div class="title">
        <span>¿Qué servicios ofrece Guru para preparar entrevistas?</span>
        <span class="icon">+</span>
      </div>
      <div class="content">
        Guru ofrece una variedad de servicios para la preparación de entrevistas, incluyendo simulacros de entrevistas, consejos de expertos, material de estudio personalizado, seguimiento del progreso, y recursos para mejorar tus habilidades comunicativas y de presentación.
      </div>
    </div>
    <div class="question__box" appToggleClass>
      <div class="title">
        <span>¿Cuál es el tiempo típico para prepararse con Guru?</span>
        <span class="icon">+</span>
      </div>
      <div class="content">
        El tiempo para prepararte con nuestra aplicación depende de tu disponibilidad y del ritmo de estudio que elijas. En promedio, los usuarios notan mejoras significativas en sus habilidades de entrevista dentro de las primeras semanas de uso activo.
      </div>
    </div>
    <div class="question__box" appToggleClass>
      <div class="title">
        <span>¿Ofrecen apoyo continuo luego de la preparación inicial?</span>
        <span class="icon">+</span>
      </div>
      <div class="content">
        Sí, proporcionamos apoyo continuo incluso después de tu preparación inicial. Nuestra aplicación incluye recursos adicionales, actualizaciones periódicas y seguimiento de progreso a largo plazo para ayudarte a mantener y mejorar tus habilidades de entrevista.
      </div>
    </div>
    <div class="question__box" appToggleClass>
      <div class="title">
        <span>¿Pueden personalizar la preparación de acuerdo a mis necesidades?</span>
        <span class="icon">+</span>
      </div>
      <div class="content">
        ¡Absolutamente! Nuestra aplicación se adapta a tus necesidades individuales. Ofrecemos herramientas personalizadas y seguimiento detallado para que puedas enfocarte en las áreas que desees mejorar y obtener una preparación específica para tus metas profesionales.
      </div>
    </div>
    <div class="question__box" appToggleClass>
      <div class="title">
        <span>¿La aplicación es compatible con diferentes dispositivos?</span>
        <span class="icon">+</span>
      </div>
      <div class="content">
        Sí, nuestra aplicación es compatible con múltiples dispositivos. Te brindamos acceso desde computadoras de escritorio, laptops, tablets y smartphones para que puedas prepararte para tus entrevistas en cualquier momento y lugar.
      </div>
    </div>
  </div>
</section>
